<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>留言板</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #chenggong,#shibai{
            display:none;
        }
        .liuyankuai{
            padding:10px 0;
            border-bottom:1px #bbb solid;
        }
    </style>
    
  </head>
  <body>
    <h1>我的留言本</h1>
    <div class="container">
        <div class="row">
        <form class="form-horizontal">
        <div class="form-group">
            <label for="xingming" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="xingming" name='xingming' placeholder="姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="liuyan" class="col-sm-2 control-label">留言</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="liuyan" id="liuyan" rows="3"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="button" id="tijiao" class="btn btn-success">提交</button>
            </div>
        </div>
        </div>
        <div class="alert alert-success" role="alert" id="chenggong">
            <a href="#" class="alert-link">表单已经成功提交</a>
        </div>
        <div class="alert alert-danger" role="alert" id="shibai">
            <a href="#" class="alert-link">表单提交失败</a>
        </div>
    </form>
    <nav aria-label="...">
        <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous" class="lastbtn">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%for(var i = 1;i<=pageamount;i++){%>
                    <li class="yemaanniu" data-page='<%=i%>'><a href="#"><%=i%></a></li>
                <%}%>                
                <li>
                    <a href="#" aria-label="Next" class="nextbtn">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
            </li>
        </ul>
        </nav>
    <div id="quanbuliuyan"></div>
    </div>
</div>

    <script type="text/template" id="moban">
        <div class='liuyankuai'>
                <p>【姓名】{{=xingming}}</p>
                <p>【留言】{{=liuyan}}</p>
                <p>【时间】{{=shijian}}</p>
                <p><a href="/delete?id={{=_id}}" class="delete">删除</a></p>
        </div>
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript">
        var nowpage = 1;
        var pageamount = $('.yemaanniu').length;
        //给第一个页面，补一个active
        $('.yemaanniu:first').addClass('active');
        //给所有的页码按钮，添加监听
        $('.yemaanniu').click(function(){
            nowpage = $(this).attr('data-page');
            getData(nowpage);
            $(this).addClass('active').siblings().removeClass('active');
        })

        $('.nextbtn').click(function(){
            nowpage++;
            if(nowpage>pageamount){
                alert('当前是最后一页');
                nowpage = pageamount;
            }
            getData(nowpage);
            $('.yemaanniu').eq(nowpage-1).addClass('active').siblings().removeClass('active');
        })
        $('.lastbtn').click(function(){
            nowpage--;
            if(nowpage<=0){
                nowpage = 1;
                alert('当前是第一页');
            }
            getData(nowpage);
            $('.yemaanniu').eq(nowpage-1).addClass('active').siblings().removeClass('active');
        })

        getData(1);
        //ajax请求数据
        function getData(page){
            $.get("/du?page="+(page-1),function(result){
                var compiled = _.template($('#moban').html());
                 //清空全部留言中的所有节点
                $('#quanbuliuyan').html('');
                for(var i=0;i<result.result.length;i++){
                    var html = compiled({
                        liuyan:result.result[i].liuyan,
                        xingming:result.result[i].xingming,
                        shijian:result.result[i].shijian,
                        _id:result.result[i]._id
                    });
                    $('#quanbuliuyan').append($(html));
                }
                // $('.delete').click(function(){
                //     var _id = $(this).attr('data-id');
                //     getDelete(_id);
                // })
            })
        }

        //ajax提交表单
        $('#tijiao').click(function(){
            $.post('/tijiao',{
                'xingming':$('#xingming').val(),
                'liuyan':$('#liuyan').val()
            },function(result){
                if(result){
                    $('#chenggong').fadeIn();
                    var compiled = _.template($('#moban').html());
                    var html = compiled({liuyan:$('#liuyan').val(),xingming:$('#xingming').val(),shijian:new Date()});
                    // $('#quanbuliuyan').insertBefore($(html));
                    $(html).insertBefore($('#quanbuliuyan'));
                }else{
                    $('#shibai').fadeIn();
                }
            })
        })
      
       //删除
    //    function getDelete(_id){
    //        $.get('/delete?id='+_id,function(result){
    //            if(result=='删除成功'){
    //                getData(1);
    //            }else(
    //                alert('删除失败')
    //            )
    //        })
    //    }
    </script>
  </body>
</html>